/* CSS style rules for all custom CSS. */

div.dash-sk-circle {
    height: 6rem;
    width: 6rem;
}

.solution-stats-table td:nth-child(2n) {
    text-align: right;
}

.solution-stats-table td:nth-child(2n+1) {
    border-right: none;
}

.input, .results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* CUSTOM CSS GOES HERE */
